In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import regex as re
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
import pyodbc
from sqlalchemy import create_engine
import pandas as pd

##### Os dados do projeto são de uma empresa real, as informações privadas serão ocultas
---
##### Os procedimentos estão bem descritos até o final da sessão 4. A partir da sessão 5, são realizadas as mesmas análises das sessões 3 e 4, porém agrupadas pelo canal de vendas

# Integração Python / SQL

In [2]:
# Criando variáveis com as informações da empresa para acesso ao servidor SQL Server
server = #####
database = #####
username = #####
password = #####

In [3]:
# utilizando a biblioteca pyodbc para conectar com o servido e baixar os dados
cnxn = pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [4]:
cursor = cnxn.cursor()
# Sample select query 
cursor.execute("SELECT @@version;") 
row = cursor.fetchone() 
while row: 
    print(row[0]) 
    row = cursor.fetchone()

Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
	Sep 24 2019 13:48:23
	Copyright (C) 2019 Microsoft Corporation
	Express Edition (64-bit) on Windows Server 2016 Standard 10.0 <X64> (Build 14393: ) (Hypervisor)

In [8]:
# A informação de Canal de venda do pedido não está no banco de dados, porém, é uma informação atrelada ao vendedor
# Criando uma query para criar a coluna 'MÉDIO_CANAL' no DF importado da base de dados
query_ecm_full = '''
select *,

CASE
WHEN Vendedor = 'AMERICANAS' THEN 'B2W'
WHEN Vendedor = 'SHOPTIME' THEN 'B2W'
WHEN Vendedor = 'SUBMARINO' THEN 'B2W'
WHEN Vendedor = 'AMAZON' THEN 'AMAZON'
WHEN Vendedor = 'CARREFOUR' THEN 'MKTPLACE'
WHEN Vendedor = 'CONECTA_LA' THEN 'CONECTA LA'
WHEN Vendedor = 'KABUM' THEN 'KABUM'
WHEN Vendedor = 'LOJA_VIVO' THEN 'MKTPLACE'
WHEN Vendedor = 'MADEIRA MADEIRA' THEN 'MKTPLACE'
WHEN Vendedor = 'NOVO MUNDO' THEN 'MKTPLACE'
WHEN Vendedor = 'OLIST' THEN 'OLIST'
WHEN Vendedor = 'RAPPI' THEN 'MKTPLACE'
WHEN Vendedor = 'SHOPEE' THEN 'SHOPEE'
WHEN Vendedor = 'VIA VAREJO (CNOVA)' THEN 'VIA VAREJO (CNOVA)'
WHEN Vendedor = 'ELG EMPRESAS' THEN 'ELG EMPRESAS'
WHEN Vendedor = 'KAZUK' THEN 'KAZUK'
WHEN Vendedor = 'KZK ML' THEN 'KAZUK'
WHEN Vendedor = 'MAGAZINE LUIZA' THEN 'MAGALU'
WHEN Vendedor = 'MERCADO LIVRE' THEN 'MERCADO LIVRE'
WHEN Vendedor = 'ML FULL' THEN 'MERCADO LIVRE FULL'
WHEN Vendedor = 'BACKUP' THEN 'OUTROS'
WHEN Vendedor = 'CD PRESENCIAL' THEN 'ESPACO ELGSCREEN'
WHEN Vendedor = 'INDICAÇÃO' THEN 'OUTROS'
WHEN Vendedor = 'ALICE LEAL' THEN 'REVENDA'
WHEN Vendedor = 'ALINE DIAS' THEN 'REVENDA'
WHEN Vendedor = 'BRUNO T' THEN 'REVENDA'
WHEN Vendedor = 'FERNANDO M' THEN 'REVENDA'
WHEN Vendedor = 'FLAVIO' THEN 'REVENDA'
WHEN Vendedor = 'JOSIANE' THEN 'REVENDA'
WHEN Vendedor = 'LEANDRO' THEN 'REVENDA'
WHEN Vendedor = 'WESLEY' THEN 'REVENDA'
WHEN Vendedor = 'REENVIO' THEN 'RMA'
WHEN Vendedor = 'RMA' THEN 'RMA'
WHEN Vendedor = 'MAGENTO' THEN 'MAGENTO'
WHEN Vendedor = 'PJ SITE' THEN 'SITE'
WHEN Vendedor = 'REVENDA SITE' THEN 'SITE'
WHEN Vendedor = 'SITE' THEN 'SITE'
END as 'MÉDIO_CANAL'


from base_hist_custo_fixo where [Data Emissão] between '20220103 00:00:00' and '20220503 23:59:59'

'''
ecm_full = pd.read_sql_query(query_ecm_full, cnxn)

In [9]:
mask_dev = ecm_full['Devolução'] == 0
elg_full = ecm_full[mask_dev]

In [10]:
elg_full['Data Emissão'] = pd.to_datetime(elg_full['Data Emissão'], format="%y/%m/%d")

elg_vendas = elg_full[['Tipo', 'Data Emissão',
                       'MÉDIO_CANAL', 'Código', 'Volume / Mês', 'Vr Unitário', 'Margem Contribuição Sem Imposto (R$)']]

mask_tipo = elg_full['Tipo'] == 'Real'
elg_vendas = elg_vendas[mask_tipo]

#mask_tv = elg_vendas['TIPO_VENDA'] == 'VENDA'
#elg_vendas = elg_vendas[mask_tv]

#elg_vendas['Vr Unitário'] = elg_vendas['Vr Unitário'].str.replace(',', '.')
elg_vendas['Vr Unitário'] = elg_vendas['Vr Unitário'].map(float)

elg_vendas = elg_vendas.rename(columns={'Data Emissão' : 'data'})

elg_vendas = elg_vendas.drop(columns = ['Tipo'])
elg_vendas['data'] = [datetime.date(data) for data in elg_vendas['data']]

In [11]:
# DELETAR ESSA CÉLULA QUANDO ESTIVER INTEGRADO COM O SQL
#hoje = datetime(2021,11,30)

In [12]:
hoje = datetime.today()
delta = timedelta(days = 1)
ontem = hoje - delta
ontem = datetime.date(ontem)
mask_ontem = elg_vendas['data'] == ontem
df_ontem = elg_vendas[mask_ontem]

#df_ontem['Margem Contribuição Sem Imposto (R$)'] = df_ontem['Margem Contribuição Sem Imposto (R$)'].str.replace(',','.')
df_ontem['Margem Contribuição Sem Imposto (R$)'] = df_ontem['Margem Contribuição Sem Imposto (R$)'].map(float)

vendas_ontem = df_ontem.groupby(by = ['MÉDIO_CANAL', 'Código'], as_index = False).agg(
    vendas_ontem = pd.NamedAgg(column = 'Volume / Mês', aggfunc = 'sum'),
    preço_unid_ontem = pd.NamedAgg(column = 'Vr Unitário', aggfunc = 'mean'),
    Total_MC_ontem = pd.NamedAgg(column = 'Margem Contribuição Sem Imposto (R$)', aggfunc = 'sum'))

# Replicando o que fiz acima para 1, 2 e 3 segundas antes
delta_1s = timedelta(days = 8)
delta_1s = datetime.date(hoje - delta_1s)
mask_1s = elg_vendas['data'] == delta_1s
df_1s = elg_vendas[mask_1s]

delta_2s = timedelta(days = 15)
delta_2s = datetime.date(hoje - delta_2s)
mask_2s = elg_vendas['data'] == delta_2s
df_2s = elg_vendas[mask_2s]

delta_3s = timedelta(days = 22)
delta_3s = datetime.date(hoje - delta_3s)
mask_3s = elg_vendas['data'] == delta_3s
df_3s = elg_vendas[mask_3s]

#df_1s['Margem Contribuição Sem Imposto (R$)'] = df_1s['Margem Contribuição Sem Imposto (R$)'].str.replace(',','.')
df_1s['Margem Contribuição Sem Imposto (R$)'] = df_1s['Margem Contribuição Sem Imposto (R$)'].map(float)

#df_2s['Margem Contribuição Sem Imposto (R$)'] = df_2s['Margem Contribuição Sem Imposto (R$)'].str.replace(',','.')
df_2s['Margem Contribuição Sem Imposto (R$)'] = df_2s['Margem Contribuição Sem Imposto (R$)'].map(float)

#df_3s['Margem Contribuição Sem Imposto (R$)'] = df_3s['Margem Contribuição Sem Imposto (R$)'].str.replace(',','.')
df_3s['Margem Contribuição Sem Imposto (R$)'] = df_3s['Margem Contribuição Sem Imposto (R$)'].map(float)

vendas_1s = df_1s.groupby(by = ['MÉDIO_CANAL', 'Código'], as_index = False).agg(
    vendas_1s = pd.NamedAgg(column = 'Volume / Mês', aggfunc = 'sum'),
    preço_unid_1s = pd.NamedAgg(column = 'Vr Unitário', aggfunc = 'mean'),
    Total_MC_1s = pd.NamedAgg(column = 'Margem Contribuição Sem Imposto (R$)', aggfunc = 'sum'))

vendas_2s = df_2s.groupby(by = ['MÉDIO_CANAL', 'Código'], as_index = False).agg(
    vendas_2s = pd.NamedAgg(column = 'Volume / Mês', aggfunc = 'sum'),
    preço_unid_2s = pd.NamedAgg(column = 'Vr Unitário', aggfunc = 'mean'),
    Total_MC_2s = pd.NamedAgg(column = 'Margem Contribuição Sem Imposto (R$)', aggfunc = 'sum'))

vendas_3s = df_3s.groupby(by = ['MÉDIO_CANAL', 'Código'], as_index = False).agg(
    vendas_3s = pd.NamedAgg(column = 'Volume / Mês', aggfunc = 'sum'),
    preço_unid_3s = pd.NamedAgg(column = 'Vr Unitário', aggfunc = 'mean'),
    Total_MC_3s = pd.NamedAgg(column = 'Margem Contribuição Sem Imposto (R$)', aggfunc = 'sum'))

t = vendas_ontem.merge(vendas_1s, on = ['MÉDIO_CANAL', 'Código'], how = 'left')
t1 = t.merge(vendas_2s, on = ['MÉDIO_CANAL', 'Código'], how = 'left')
t2 = t1.merge(vendas_3s, on = ['MÉDIO_CANAL', 'Código'], how = 'left')

relatorio_segunda = pd.DataFrame({'Canal' : t2['MÉDIO_CANAL'], 'Código' : t2['Código'],
                                  'Vendas Ontem' : t2['vendas_ontem'], 
                                  'Vendas 1seg' : t2['vendas_1s'], 
                                  'Vendas 2seg' : t2['vendas_2s'],
                                  'Vendas 3seg' : t2['vendas_3s'],
                                  'Preço Ontem' : t2['preço_unid_ontem'],                                  
                                  'Preço 1seg' : t2['preço_unid_1s'],
                                  'Preço 2seg' : t2['preço_unid_1s'], 
                                  'Preço 3seg' : t2['preço_unid_3s'],
                                  'MC Ontem' : t2['Total_MC_ontem'],
                                  'MC 1seg' : t2['Total_MC_1s'],
                                  'MC 2seg' : t2['Total_MC_2s'],
                                  'MC 3seg' : t2['Total_MC_3s']})

relatorio_segunda = relatorio_segunda.fillna(0)

# Ordenar pelos produtos que tiveram maios margem de contribuição negativa
relatorio_segunda['Diferença MC (Ontem / 1seg)'] =  relatorio_segunda['MC Ontem'] - relatorio_segunda['MC 1seg']
relatorio_segunda = relatorio_segunda.sort_values(by = 'Diferença MC (Ontem / 1seg)')

relatorio_segunda['Vendas 1seg'] = relatorio_segunda['Vendas 1seg'].map(int)
relatorio_segunda['Vendas 2seg'] = relatorio_segunda['Vendas 2seg'].map(int)
relatorio_segunda['Vendas 3seg'] = relatorio_segunda['Vendas 3seg'].map(int)
relatorio_segunda['Vendas Ontem'] = relatorio_segunda['Vendas Ontem'].map(int)
relatorio_segunda['Preço Ontem'] = relatorio_segunda['Preço Ontem'].round(2)
relatorio_segunda['Preço 1seg'] = relatorio_segunda['Preço 1seg'].round(2)
relatorio_segunda['Preço 2seg'] = relatorio_segunda['Preço 2seg'].round(2)
relatorio_segunda['Preço 3seg'] = relatorio_segunda['Preço 3seg'].round(2)

<ipython-input-12-4250dbfdb88d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ontem['Margem Contribuição Sem Imposto (R$)'] = df_ontem['Margem Contribuição Sem Imposto (R$)'].map(float)
<ipython-input-12-4250dbfdb88d>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1s['Margem Contribuição Sem Imposto (R$)'] = df_1s['Margem Contribuição Sem Imposto (R$)'].map(float)
<ipython-input-12-4250dbfdb88d>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2s['Margem Contribuição Sem Imposto (R$)'] = df_2s['Margem Contribuição Sem Imposto (R$)'].map(float)
<ipython-input-12-4250dbfdb88d>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_3s['Margem Contribuição Sem Imposto (R$)'] = df_3s['Margem Contribuição Sem Imposto (R$)'].map(float)

In [13]:
relatorio_segunda

,Canal,Código,Vendas Ontem,Vendas 1seg,Vendas 2seg,Vendas 3seg,Preço Ontem,Preço 1seg,Preço 2seg,Preço 3seg,MC Ontem,MC 1seg,MC 2seg,MC 3seg,Diferença MC (Ontem / 1seg)
237,REVENDA,101262,4,12,4,13,414.26,414.26,414.26,414.51,907.81,2163.18,702.23,2697.75,-1255.37
141,MERCADO LIVRE FULL,100097,12,18,21,7,690.35,654.14,654.14,705.57,1782.74,2264.15,2198.62,1007.57,-481.41
157,MERCADO LIVRE FULL,100367,1,19,10,9,87.27,71.12,71.12,69.97,11.61,328.95,191.41,163.72,-317.34
142,MERCADO LIVRE FULL,100101,1,5,8,7,447.17,447.17,447.17,501.33,60.38,345.24,643.65,791.98,-284.86
312,SITE,100745,1,3,4,4,316.07,338.33,338.33,338.33,164.31,400.42,493.52,506.77,-236.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,REVENDA,101000,12,1,3,3,75.96,76.00,76.00,77.73,365.18,29.28,91.09,84.43,335.90
297,SITE,100507,9,0,6,6,194.33,0.00,0.00,207.11,424.97,0.00,344.53,377.35,424.97
304,SITE,100681,20,11,12,22,167.57,168.46,168.46,168.46,1018.88,579.31,643.37,1175.18,439.57
314,SITE,100763,5,1,9,3,258.95,258.95,258.95,258.95,549.90,92.67,900.58,256.33,457.23
197,MERCADO LIVRE FULL,121465,8,2,12,9,683.61,703.14,703.14,755.34,1219.39,290.84,2156.88,1777.28,928.55

In [14]:
relatorio_segunda.to_excel(r'relatório_02-05.xlsx', index = False)